/ALIGENHOM5_QUANLYKHOHANGTHOITRANG/JavaApplication3/nbproject/private/
/ALIGENHOM5_QUANLYKHOHANGTHOITRANG/MauSac/nbproject/private/
/ALIGENHOM5_QUANLYKHOHANGTHOITRANG/MauSac/build/
/ALIGENHOM5_QUANLYKHOHANGTHOITRANG/SanPham/nbproject/private/
/ALIGENHOM5_QUANLYKHOHANGTHOITRANG/SanPham/build/